<div class="px-3 py-2 bg-dark text-white" id='topBar'>
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id='toolbar'>
      <%= link_to t('navbar.brand'), root_path, class: "d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none navbar-brand text-capitalize"%>

      <% if !user_signed_in? %>
        <%= render 'layouts/partials/navbar/authencation' %>
      <% else %>
       <%= render 'layouts/partials/navbar/guest' %>
      <% end %>
    </div>

    
  </div>
</div>