<button class='product-main__add_to_cart d-flex w-100'>
  <span class='product-main__add_to_cart_price d-flex'>
    <%= currency(price) %>
  </span>
  <span class='product-main__add_to_cart_text text-capitalize'>
    <%= t('cart.add_to_cart') %>
  </span>
</button>