<div class='favourite bottom-0 start-0'>
  <div class='favourite-actions'>
    <div class='actions d-inline-flex'>
      <% favourites.each do |favourite|%>
        <div class='action mx-1'>
          <i class="<%= favourite %>"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>