<div class='product-info'>
  <div class='product-main__name-wrapper'>
    <h1 class='product-main__name'><%= item.name %></h1>
  </div>
  <p class='product-main__short-description first-letter-uppercase more3line'>
    <%= item.description.humanize %>
  </p>
</div>