<div class="input-group product-main__stepper me-2">
  <span class="input-group-text">
    <i class="fas fa-minus"></i>
  </span>
  <input type="text" class="form-control shadow-none text-center" aria-label="Amount" disabled value=<%= quantity %>>
  <span class="input-group-text">
    <i class="fas fa-plus"></i>
  </span>
</div>