.item {
  .product-main-inner {
    min-height: 500px;
    max-height: 500px;
    .product-info {
      width: 60%;
      padding: 0 0 0 7.1875rem;
      position: relative;
      .product-main__name-wrapper {
        margin: 0 0 0.3125rem;
        .product-main__name {
          color: #000;
          font: 500 2.25rem/2.375rem Locator,sans-serif;
          text-transform: uppercase;
          display: inline;
          vertical-align: middle;          
        }
      }
      .product-main__control {
        position: absolute;
        width: 100%;
        height: $maxProductControlHeight;
        padding: 0 0 0 7.1875rem;
        .product-main__control_action {
          position: relative;
          .product-main__stepper {
            width: 40%;
            input {
              border-left: none;
              border-right: none;
            }
            .input-group-text {
              border-radius: 0;
            }
          }
          .product-main__add_to_cart {
            position: relative;
            background: $CeruleanColor;
            border: 1px solid $CeruleanColor;
            color: white;
            transition: background-color .25s ease-out, color .25s ease-out;
            padding: 0 2.5rem 0 7.2rem;
            &:hover {
              background-color: #fff;
              border: 1px solid #525252;
              color: #000;
              text-decoration: none;              
            }
            .product-main__add_to_cart_price, .product-main__add_to_cart_text {
              line-height: $maxProductControlHeight;
            }
            .product-main__add_to_cart_price {
              &:after {
                content: '-';
                display: inline-block;
                margin: 0 .3125rem;
              }
            }
          }
        }
      }
    }
  }
}